<nav class="navbar navbar-expand-md navbar-dark bg-secondary">
  <div class="container-fluid">
    <a routerLink="/" class="navbar-brand">Dashboard</a>
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbarContent"
      [attr.aria-expanded]="!collapsed"
      aria-label="Toggle navigation"
      (click)="collapsed = !collapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="navbar-collapse"
      [class.collapse]="collapsed"
      id="navbarContent"
    >
      <ul class="navbar-nav ms-auto">
        <!-- <li
          class="nav-item"
          ngbDropdown
          display="dynamic"
          placement="bottom-end"
        >
          <a
            class="nav-link"
            tabindex="0"
            ngbDropdownToggle
            id="navbarDropdown3"
            role="button"
          >
            Dynamic
          </a>
          <div
            ngbDropdownMenu
            aria-labelledby="navbarDropdown3"
            class="dropdown-menu"
          >
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()"
              >Action</a
            >
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()"
              >Another action</a
            >
            <a ngbDropdownItem href="#" (click)="$event.preventDefault()"
              >Something else here</a
            >
          </div>
        </li> -->

        <li
          class="nav-item"
          ngbDropdown
          display="dynamic"
          placement="bottom-end"
        >
          <a
            class="nav-link"
            tabindex="0"
            ngbDropdownToggle
            id="navbarDropdown3"
            role="button"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="35"
              height="35"
              fill="currentColor"
              class="bi bi-person-circle"
              viewBox="0 0 16 16"
            >
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
              <path
                fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"
              />
            </svg>
          </a>
          <div
            *ngIf="this.loggedIn()"
            ngbDropdownMenu
            aria-labelledby="navbarDropdown3"
            class="dropdown-menu"
          >
            <a ngbDropdownItem>Profile</a>
            <a ngbDropdownItem routerLink="/user-management">User Management</a>
            <a ngbDropdownItem href="#" (click)="this.logout()">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
